.vercel
.env
node_modules
.DS_Store
npm-debug.log
yarn-error.log
coverage
artifacts
cache
typechain
dist
out
*.tsbuildinfo
.vscode
.idea
*.iml
*.log
*.sqlite
*.sqlite-shm
*.sqlite-wal                
